/* 伪类用于描述一个元素的特殊状态
    比如第一个子元素、被点击的元素、鼠标移入的元素...
    伪类一般使用:开头如:first-child(第一个子元素)
    :nth-child(1):第1个子元素等等。直接写n表示全选，写2n表示选偶数，也即n为0、1、2、... 
    :nth-of-type(1):第一个同类型子元素等等。其他与上类似
    :not(p):不选p类等等
    :link:没有访问过的链接
    :visited:访问过的链接
    :hover:用于选中鼠标移入的元素
    :active:用于选中鼠标点击的元素*/
ul>li:nth-child(2){
    color: red;
}
a:link{
    color: chartreuse;
}

