<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../icon-font/css/all.css">
    <style>
        a{
            background-color: antiquewhite;
            display: block;
            width: 320px;
            height: 426px;
            float: left;
        }
        .sp{
            float: right;
        }
    </style>
</head>
<body>
    <a></a>
    <div class="sp">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consectetur dolor asperiores exercitationem atque nam laudantium, est similique vero iure veniam molestiae. Aperiam ipsam facilis nemo labore, commodi velit dicta.</div>
</body>
</html>