<!--
 * @Descripttion: 
 * @Author: Seulf
 * @Date: 2021-02-17 16:57:58
 * @LastEditors: Seulf
 * @LastEditTime: 2021-02-17 17:13:53
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            margin: 50px auto;
            width: 200px;
        }
    </style>
</head>
<body>
    <form action="../foobar.html">
        <!-- <input type="text">
        <input type="submit" value="hh"> -->
        <input type="radio" name="hello" value="a">
        <input type="radio" name="hello" value="b">
    </form>
</body>
</html>